* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;;
}

nav {
    display: flex;
    justify-content: space-between;
    
}


ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 35px;
    align-items: center;
    margin-right: 24px;
}

.logo {
    width: 57px;
    height: 57px;
    margin: 20px;
}

button {
    width: 195px;
    height: 40px;
    background: #1D4ED8;
    border-radius: 10px;
    border: 1px solid #C2C2C2;
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    color: rgba(4, 4, 4, 0.85);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

a {
    text-decoration: none;
    color: rgba(4, 4, 4, 0.85);
}

.container {
    background-color: #1D4ED8;
    
    height: 260px;
}

.grid {
    border: 1px solid #1D4ED8;
    width: 304px;
    height: 237px;
    margin-top: 58px;
    
}

.caixa {
    display: flex;
    justify-content: center;
}
