* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}


h1 {
    font-size: 36px;
    color: #1D4ED8;
    font-weight: 500;
}

h2 {
    margin-top: 27px;
    color: rgba(4, 4, 4, 0.85);
    font-size: 36px;
    font-weight: 600;
}

input {
    width: 442px;
    height: 61px;
    padding: 15px 63px 18px 12px;
    border-radius: 20px;
    border: 1px solid #B1B1B1;
}

button {
    width: 442px;
    height: 61px;
    background: #1D4ED8;
    border-radius: 20px;
    border: 1px solid #C2C2C2;
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}


label {
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

input {
    font-size: 24px;
}

.h1conteudo {
    font-size: 64px;
    color: rgba(4, 4, 4, 0.85);
    font-weight: 700;
    margin-left: 121px;
}

.colorh1 {
    font-size: 64px;
    color: #1D4ED8;
    font-weight: 700;
    margin-left: 121px;
}

a {
   color: #1D4ED8;
   display: flex;
   justify-content: center;
   
   
}


.logo li {
    display: flex;
    margin-top: 100px;
    align-items: center;
    gap: 13px;
}

.container {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 27px; 
}