nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 35px;
    align-items: center;
    margin-right: 24px;
}

.logo {
    width: 45px;
    height: 45px;
    margin: 20px;
}

button {
    width: 195px;
    height: 40px;
    background: #1D4ED8;
    border-radius: 10px;
    border: 1px solid #C2C2C2;
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

li {
    color: rgba(4, 4, 4, 0.85);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

a {
    text-decoration: none;
    color: rgba(4, 4, 4, 0.85);
}       